<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Show One Record</title>
        <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"/>
        <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    </head>
    <body>
        <h2>Show student table - One record {{errormessage}}</h2>
        ID: {{unit.id}}<br/>
        Name: {{unit.cName}}<br/>
        Sex: {{unit.cSex}}<br/>
        Birthday: {{unit.cBirthday}}<br/>
        Email: {{unit.cEmail}}<br/>
        Phone: {{unit.cPhone}}<br/>
        Addr: {{unit.cAddr}}<br/>
    </body>
</html>